<div class="octave-internal">
  <div class="blackkeys">
    <span class="spacer spacer1"></span>
    <span class="black key"></span>
    <span class="spacer spacer2"></span>
    <span class="black key"></span>
    <span class="spacer spacer3"></span>
    <span class="black key"></span>
    <span class="spacer spacer2"></span>
    <span class="black key"></span>
    <span class="spacer spacer2"></span>
    <span class="black key"></span>
  </div>
  <!-- C D E F G A B -->
  <span class="white key" ng-class="{pressed: $ctrl.isPressed('C')}" ng-click="$ctrl.keyClick('C')" ng-mousedown="$ctrl.keyPress('C')" ng-mouseup="$ctrl.keyDepress('C')"></span>
  <span class="white key" ng-class="{pressed: $ctrl.isPressed('D')}" ng-click="$ctrl.keyClick('D')" ng-mousedown="$ctrl.keyPress('D')" ng-mouseup="$ctrl.keyDepress('D')"></span>
  <span class="white key" ng-class="{pressed: $ctrl.isPressed('E')}" ng-click="$ctrl.keyClick('E')" ng-mousedown="$ctrl.keyPress('E')" ng-mouseup="$ctrl.keyDepress('E')"></span>
  <span class="white key" ng-class="{pressed: $ctrl.isPressed('F')}" ng-click="$ctrl.keyClick('F')" ng-mousedown="$ctrl.keyPress('F')" ng-mouseup="$ctrl.keyDepress('F')"></span>
  <span class="white key" ng-class="{pressed: $ctrl.isPressed('G')}" ng-click="$ctrl.keyClick('G')" ng-mousedown="$ctrl.keyPress('G')" ng-mouseup="$ctrl.keyDepress('G')"></span>
  <span class="white key" ng-class="{pressed: $ctrl.isPressed('A')}" ng-click="$ctrl.keyClick('A')" ng-mousedown="$ctrl.keyPress('A')" ng-mouseup="$ctrl.keyDepress('A')"></span>
  <span class="white key" ng-class="{pressed: $ctrl.isPressed('B')}" ng-click="$ctrl.keyClick('B')" ng-mousedown="$ctrl.keyPress('B')" ng-mouseup="$ctrl.keyDepress('B')"></span>
</div>
