.blackkeys {
  position: absolute;
  z-index: 2;
  height: 0px;
}

.key {
  display: inline-block;
}

.black {
  background: black;
}

.spacer {
  display: inline-block;
  height: 0;
}

.white {
  background: white;
  border: 1px solid black;
}

.white.pressed {
  background: gray;
}

.black.pressed {
  background: gray;
}

.keybox {
  font-size: 0;
}

.black {
  width: 32px;
  height: 120px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.white {
  width: 48px;
  height: 200px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

