<div class="row" style="width: 100%">
  <div class="col-md-12" style="width: 100%">
    <div class="keybox">keyboard</div>
  </div>
</div>

<!--
<div>
  <h2>MIDI Sync</h2>
  <server-control class="row"></server-control>
  <br/>
  <div class="row">
    <div class="col-md-3">
      <div class="btn-group" uib-dropdown is-open="status.isopenInput">
        <button id="single-button"
                type="button"
                class="btn"
                ng-class="{'btn-primary': !$ctrl.inputDisabled, 'btn-danger': $ctrl.inputDisabled}"
                uib-dropdown-toggle
                ng-disabled="$ctrl.inputDisabled">
          Input: {{$ctrl.selectedInput.name}} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
          <li role="menuitem" ng-repeat="input in $ctrl.inputs"><a href="#" ng-click="$ctrl.inputSelection(input.id)">{{input.name}}</a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-3">
      <div class="btn-group" uib-dropdown is-open="status.isopenOutput">
        <button id="single-button"
                type="button"
                class="btn"
                ng-class="{'btn-primary': !$ctrl.outputDisabled, 'btn-danger': $ctrl.outputDisabled}"
                uib-dropdown-toggle
                ng-disabled="$ctrl.outputDisabled">
          Output: {{$ctrl.selectedOutput.name}} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
          <li role="menuitem" ng-repeat="output in $ctrl.outputs"><a href="#" ng-click="$ctrl.outputSelection(output.id)">{{output.name}}</a></li>
        </ul>
      </div>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-md-12">
      {{$ctrl.latencySummary}}
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <midi-keys></midi-keys>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      -----
    </div>
  </div>
</div>
-->
